.myHeaderContainer {
  width: 85vw;
}
.navbar-brand{
  font-size:2vmax !important;
}

.buttons {
  flex-wrap: wrap;
  font-weight: bolder;
}
.btn-group-lg>.btn, .btn-lg{
  font-size:1.5vmax !important;
}
.extraMargin {
  margin: 2vh 2vw;
}
.pomodoroButton{
  background: rgb(129, 28, 28) !important;
  border-color: rgb(129, 28, 28) !important;
}