.myHeaderContainer {
  width: 85vw;
}
.navbar-brand{
  font-size:2vmax !important;
}

.buttons {
  flex-wrap: wrap;
}
.btn-group-lg>.btn, .btn-lg{
  font-size:1.5vmax !important;
}
.extraMargin {
  margin: 2vh 2vw;
}