.myFooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  margin-top: 3vh;
  padding: 2vmin 5vmin;
}

.myIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;

}
