.Horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid white;
  width: 85vw;
}

.myNavBar {
  width: 85vw;
}

.bordo {
  border: 1px solid black !important;
}
.extraMargin {
  margin: 2vh 2vw;
}
